.NavBar {
    padding: 10px 5px 10px 10px;
    /* position: fixed;
    left: 0px;
    top: 0px; */
}

.NavBar a {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.NavBar a:not(:first-child) {
    text-decoration: none;
    display: flex;
    float: right;
    font-size: 20px;
    margin-right: 15px;
    color: rgb(49, 49, 49);
    padding: 10px;
    text-align: center;
}

.NavBar a:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.NavBar img {
    height: 100%;
    width: 70px;
}

.NavBar a.active {
    background-color: rgb(49, 49, 49);
    color: white;
}