.NavBar{
    padding: 10px 5px 10px 10px ;
}

.NavBar a:not(:first-child) {
    text-decoration: none;
    display: flex;
    float: right;
    font-size: 20px;
    margin-right: 15px;
    color: rgb(49, 49, 49);
    /* background-color: rgb(126, 226, 226); */
    /* border: 1px solid white; */
    padding: 10px;
    border-radius: 10px;
    
}

/* .NavBar a:first-child{
    display: flex;
    float: left;
} */

.NavBar a:hover {
    /* font-size: 22px; */
    /* border: 1px solid rgb(68, 49, 49); */
    /* background-color: rgb(142, 230, 142); */
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

/* .active{
        background-color: lightgreen !important;
} */
.NavBar img{
    width: 70px;
}
