div.ProductDetails {
    position: relative;
    flex-direction: row;
    display: flex;
}

div.details {
    width: 50%;
    display: inline-block;
    height: 80%;
    /* flex: 0.4; */
}

.details.img img{
    min-height: 500px;
    max-width: 100%;
    max-height: 600px;
}

.ProductDetails a,.ProductDetails button{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    font-size: 16px;
}


.ProductDetails a:hover,.ProductDetails button:hover{
    color: black;
    text-decoration: underline;
    background-color: white;
    cursor: pointer;
}

/* div.details.data{
    border: 1px solid blue;
    display: inline-block;
    flex: 0.4;
} */